.panel {
	box-shadow: 0 0 50px black;
}
a {
	margin: 5px;	
}
body{
	color:#C9CAC8;
}
h3{
	background-color:#2AB299 ;
	padding-left:10px;
	padding-top:10px;
	padding-right:40px;
	padding-bottom:10px;
	box-shadow: 0 0 5px green;
}
form{
	margin-left:30px;
}
.Container{
	border-radius: 10px;
	position:absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 400px;
	max-height: 450px;
	box-shadow: 0 0 10px black;
}
